* {

    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Arial;

}

.wrapper {

    width: 685px;
	height: 600px;
    margin: auto;
	background-color: gray;

}

header {

	background-color: purple;

}

h1 {

	margin: 5px 5px 5px 5px;
    display: inline-block;

}

a {
 	font-size: small;
    text-decoration: none;
    color: black;
    padding: 10px 10px 10px 5px;
	

}

legend {

	border-style: double;
	border-radius: 2px;
	padding: 4px 4px 4px 4px;
	background-color: lightgrey;
	opacity: 10%;

}

a:hover {

    color: red;

}

header a {

    display: inline-block;
    float: right;

}

fieldset {

    width: 300px;
    margin: auto;
    padding: 10px 10px 10px 10px;

}

input {

    float: right;
    border-radius: 2px;
    

}

#submit {

    float: right;
	padding: 2px 2px 2px 2px;


}

footer {

	bottom: 0;
	position: absolute;
	margin: 10px 0px 0px 0px;
	background-color: purple;
	width: 685px;
}

footer ul li {

	display: inline-block;
	list-style-type: none;


}

.recovery-links {

	margin: auto;
	width: 300px;	
	height: 10px;
	padding: 0px 10px 10px 10px;
	

}

.recovery-links ul li {

	
	margin: auto;

	display: inline-block;
	list-style-type: none;
	
}

.recovery-links ul li a {

	font-size: 8px;

}





